html, body {
   font-family: Raleway, sans-serif!important;
   width: 100%;
   min-height: 100%!important;
   height: 100%;
   margin:0;
   padding:0;
   position: relative;
   min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

/********** Navbar **********/

.navbar, .navbar-header {
   min-height: 70px !important;
   background-color: #ffffff;
   border-bottom: 1px solid #888;
   box-shadow: 0 5px 5px -5px grey;
   margin-bottom: 0px;
   z-index: 99;
}

.navbar-nav>li>a {
   padding-top: 25px !important;
   padding-bottom: 25px !important;
   height: 70px;
   color: #777!important;
   text-transform: uppercase;
   font-size: 14px;
}

.p-title {
   font-weight: bold;
   color: #625fd5;
}

.navbar-default .navbar-brand {
   color: #777!important;
}

.navbar-nav {
   margin: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
   font-weight: bold;
   color: #625fd5!important;
   background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
   color: #625fd5!important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   background-color: #fff;
}

.navbar-toggle {
   margin-top: 17px!important;
   margin-bottom: 17px!important;
}

/********* Map *********/

path {
   fill: #625fd5;
   pointer-events: all;
}

path:hover, g:hover path {
   cursor: pointer;
   fill: #4fb0c6;
}

g:hover {
   fill: #4fb0c6;
}

#tooltip {
   position: fixed;
   display: none;
   font-weight: bold;
   font-size: 19px;
   color: #625fd5;
   border: 1px solid #808080;
   background-color: #fff;
   padding-left: 5px;
   padding-right: 5px;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.svg-container {
   width: 10em;
}

.interactive-map {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   margin: auto;
   height: 591px;
   width: 1440px;
   z-index: 2;
   background: url("../assets/map-background.jpg") no-repeat;
}

.map-sect {
   background-position: center;
   background-repeat: no-repeat;
   height: 591px;
   position: relative;
   background-color: #e8f3f9;
}

/********* Results Section *********/

.country-name-sect {
   height: 80px;
   background-color: #4fb0c6;
}

.country-name-sect .country-name {
   margin-top: 24px;
   margin-bottom: 23px;
   color: #fff;
   font-weight: bold;
}

.panel-default {
   padding-top: 15px;
   transition: .6s ease all;
}

.panel-group .panel+.panel {
   margin-top: 0px;
}

.panel-default .panel-heading {
   background-color: #fff;
   transition: .6s ease all;
}

.panel-title a {
   color: #625fd5;
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
   text-decoration: none;
   color: #4fb0c6;
}

.panel-title a .glyphicon {
   padding-right: 6px;
   top: 3px;
}

.panel {
   border: none;
   box-shadow: none;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
   border: none;
}

.table.table-visu thead>tr>th {
   border-bottom: none;
}

.table.table-visu thead>tr>th, .table.table-visu tbody>tr>th, .table.table-visu tfoot>tr>th, .table.table-visu thead>tr>td, .table.table-visu tbody>tr>td, .table.table-visu tfoot>tr>td {
   border: 0px solid #2980B9;
}

.table-title {
   border-top: 2px solid #333;
   border-style: hidden;
   background-color: #fbfbfb;
   font-size: 17px;
   color: #665fd5;
}

/*.cont table {
  border-collapse: collapse;
  border: solid 1px #000;
}
.cont table thead th.table-title {
  border: solid 1px #000;
}
.no-border {
  border: solid 1px #FFF!important;
  color: red;
}*/

.visualization-responsive-table {
   border: none;
}

.circle {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
 }

td {
   text-align: center;
   vertical-align: middle;
   text-transform: capitalize;
}

.fa-arrow-left {
   padding-right: 12px;
}

.fa-arrow-right {
   padding-left: 12px;
}

.arrows-sect {
   margin-bottom: 25px;
}

.next {
   text-align: right;
}

.next, .previous {
   color: #cbcbcb;
   cursor: pointer;
}

.next:hover, .previous:hover {
   color: #625fd5;
}

.next-arrow {
   width: 59px;
   padding-left: 14px;
   margin-bottom: 5px;
}

.previous-arrow {
   width: 59px;
   padding-right: 14px;
   margin-bottom: 5px;
}

.fa-remove:before, .fa-close:before, .fa-times:before, .fa-check:before {
   font-size: 25px;
}

.fa-times {
   color: #e55f5f;
}

.fa-check {
   color: #42be76;
}

.scrollup {
   width: 40px;
   height: 40px;
   z-index: 99;
   position: fixed;
   display: none;
   bottom: 83px;
   right: 70px;
   text-indent: -9999px;
}

.scrollup:hover {
   cursor: pointer;
}

.info-message {
   z-index: 99;
   position: fixed;
   top: 100px;
   left: 70px;
   background-color: #4fb0c6;
   color: #fff;
   display: none;
   border: none;
   box-shadow: 2px 2px 0px rgba(175, 175, 175, 0.4);
}

/********* Comparison Page *********/
.compare-title {
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   color: #2e2e2e;
   padding-top: 25px;
   padding-bottom: 25px;
}

.data-section-title {
   font-weight: bold;
   text-align: center;
   color: #625fd5;
   padding-bottom: 20px;
}

.fixed {
   top: 0;
   position: fixed;
   width: auto;
   display: none;
   border: none;
}

table thead {
   background-color: #f3f3f3;
}

table.compare {
   margin-bottom: 50px;
}

table.compare th, table.compare td {
   text-align: center;
   vertical-align: middle !important;
}

/********* The report Page *********/
.the-report p {
  text-align: justify;
}

.footnote {
  cursor: pointer;
}

.report-table tbody td {
  text-align: left;
}


/********* Footer ***********/
.footer {
  position: absolute;
  bottom: 0;
  padding-top: 7px;
  width: 100%;
  /*height: 28px;*/
  background-color: #fff;
}

.foot {
  border-top: 2px solid #eaeaea;
  padding-top: 9px;
}

.foot-logo {
  font-size: 13px;
  color: #797979;
}

.foot-year {
  padding-top: 10px;
}

.partner-img {
   margin-top: 15px;
   margin-right: 40px;
}

.dl-horizontal dt {
   float: left;
   width: 160px;
   padding-bottom: 13px;
   overflow: hidden;
   clear: left;
   text-align: right;
   text-overflow: ellipsis;
}

.dl-horizontal dd {
   margin-left: 212px;
}

.shape {
   padding-top: 6px!important;
}

.scope_asset_disclosure_list,
.content_asset_declarations_list,
.public_access_to_asset_declarations_list,
.bodies_responsible_for_storing_and_managing_asset_declaration_data_list,
.verification_and_control_of_asset_information_list,
.sanctions_for_non_declaration_and_incorrect_information_list,
.clarity_of_asset_disclosure_legislation_list,
.means_of_submission_of_asset_declarations_list,
.openness_of_asset_declarations_list {
   display: none;
}

/********* Media Queries *******/
@media screen and (max-width: 1440px) {
   .interactive-map {
      right: 0px!important;
      left: auto!important;
   }

@media screen and (max-width: 480px) {
   .previous, .next {
      text-align: center;
      font-size: 18px;
   }
   .arrows-sect {
      padding: 0;
   }
   .info-message,
   #index_scope_asset_disclosure,
   #index_content_asset_declarations,
   #index_public_access_to_asset_declarations,
   #index_bodies_responsible_for_storing_and_managing_asset_declaration_data,
   #index_verification_and_control_of_asset_information,
   #index_sanctions_for_non_declaration_and_incorrect_information,
   #index_clarity_of_asset_disclosure_legislation,
   #index_means_of_submission_of_asset_declarations,
   #index_openness_of_asset_declarations {
      display: none!important;
   }
   .panel-body {
      padding-right: 0px;
      padding-left: 0px;
   }
   .scope_asset_disclosure_list,
   .content_asset_declarations_list,
   .public_access_to_asset_declarations_list,
   .bodies_responsible_for_storing_and_managing_asset_declaration_data_list,
   .verification_and_control_of_asset_information_list,
   .sanctions_for_non_declaration_and_incorrect_information_list,
   .clarity_of_asset_disclosure_legislation_list,
   .means_of_submission_of_asset_declarations_list,
   .openness_of_asset_declarations_list {
      display: block;
   }
   .nav>li {
      height: 50px;
   }
   .map-sect {
      height: 400px;
   }
   .interactive-map {
      width: 821px;
      height: 400px;
      background: #e8f3f9;
   }
   .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-nav>li>a {
      padding-top: 14px!important;
      padding-bottom: 14px!important;
      height: 50px;
   }
}
