      <!-- Footer -->
      <div class="footer">
        <div class="container foot">
          <div class="col-sm-4">
            <p class="foot-logo">Assets Declarations <br />in <b>CEE Countries</b></p>
          </div>
          <div class="col-sm-3">
            <p class="foot-logo text-center foot-year">2017<p>
          </div>
          <div class="col-sm-5 odk-logo-foot">
            <p style="display: inline; padding-right: 10px;" class="foot-logo foot-year">Designed & Developed by:</p><a target="_blank" href="http://opendatakosovo.org"><img width="50" style="padding-top: 5px;" src="assets/odk-logo-gray.png" /></a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.0.3/jquery.floatThead.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script src="js/responsive-tables.js"></script>
    <script src="js/main.js"></script>
    <script src="js/handling_data.js"></script>
  </body>
</html>
