{% include header.html %}
<div class="container">
   <div class="col-md-12">
      <h1 class="compare-title">Data Comparison between countries</h1>
      <!-- Tables -->
      <div class="table-responsive">
         <table cellspacing="0" class="table with-responsive-wrapper compare table-hover scope_asset_disclosure table-bordered">
            <thead>
               <th class="table-title" colspan="9">Scope of asset disclosure – type and rank of officials</th>
               <tr>
                  <th>Country</th>
                  <th>Ministers, members of parliament</th>
                  <th>State and municipal higher management</th>
                  <th>Public service employees</th>
                  <th>Judges, Prosecutors. Court Directors</th>
                  <th>Managers of state owned enterprises</th>
                  <th>Grant receivers</th>
                  <th>Relatives of public officials</th>
                  <th>Other</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <div class="table-responsive">
         <table cellspacing="0" class="table with-responsive-wrapper content_asset_declarations compare table-bordered table-hover">
            <thead>
               <th class="table-title" colspan="11">Content of asset declarations</th>
               <tr>
                  <th>Country</th>
                  <th>Income (from private and public sources)</th>
                  <th>Real estate (buildings, apartments, land and agricultural property and other)</th>
                  <th>Movable property (cars, boats and other)</th>
                  <th>Money (cash, bank accounts, foreign currency, credits, obligations)</th>
                  <th>Beneficial ownership (company management, board members, shares, stocks, gifts)</th>
                  <th>Management of NGOs</th>
                  <th>Membership in organisations</th>
                  <th>Subsidies</th>
                  <th>Collectables (such as art works)</th>
                  <th>Allowances and benefits accruing to the official from the political party or national assembly</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <div class="table-responsive">
         <table class="table table-hover with-responsive-wrapper public_access_to_asset_declarations table-bordered compare">
            <thead>
               <th class="table-title" colspan="3">Public Access to asset declarations</th>
               <tr>
                  <th>Country</th>
                  <th>Availability of declarations to the public</th>
                  <th>Declarations published online</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <div class="table-responsive">
         <table class="table with-responsive-wrapper table-hover table-bordered bodies_responsible_for_storing_and_managing_asset_declaration_data compare">
            <thead>
               <th class="table-title" colspan="3">Bodies responsible for storing and managing asset declaration data</th>
               <tr>
                  <th>Country</th>
                  <th>Separate agency entrusted with asset declaration data management</th>
                  <th>Political independence of institutions in charge of asset declaration</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <div class="table-responsive">
         <table cellspacing="0" class="table with-responsive-wrapper table-hover table-bordered compare verification_and_control_of_asset_information">
            <thead>
               <th class="table-title" colspan="7">Verification and control of asset information</th>
               <tr>
                  <th>Country</th>
                  <th>Asset declarations verified</th>
                  <th>Random/Ad hoc verification</th>
                  <th>Verification based on published risk assessment methodology</th>
                  <th>Verification based on notifications about unjustified wealth</th>
                  <th>Verification in case of prosecution of the given person</th>
                  <th>Regular publication of reports including verification results</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <div class="table-responsive">
         <table cellspacing="0" class="table with-responsive-wrapper table-hover table-bordered compare sanctions_for_non_declaration_and_incorrect_information">
            <thead>
               <th class="table-title" colspan="5">Sanctions for non-declaration and incorrect information</th>
               <tr>
                  <th>Country</th>
                  <th>Financial fines</th>
                  <th>Disciplinary measures</th>
                  <th>Criminal prosecution</th>
                  <th>Loss of mandate or public office</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <div class="table-responsive">
         <table class="table table-hover table-bordered timeline_for_storing_of_asset_declaration_information compare with-responsive-wrapper">
            <thead>
               <th class="table-title" colspan="2">Timeline for storing of asset declaration information</th>
               <tr>
                  <th>Country</th>
                  <th>Timeline for storing of asset declaration information</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <div class="table-responsive">
         <table class="table table-hover table-bordered compare clarity_of_asset_disclosure_legislation with-responsive-wrapper">
            <thead>
               <th class="table-title" colspan="3">Clarity of asset disclosure legislation</th>
               <tr>
                  <th>Country</th>
                  <th>Asset declarations framework regulated by separate law</th>
                  <th>Asset declaration framework split into multiple laws</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <div class="table-responsive">
         <table class="table table-hover table-bordered compare means_of_submission_of_asset_declarations with-responsive-wrapper">
            <thead>
               <th class="table-title" colspan="4">Means of submission of asset declarations</th>
               <tr>
                  <th>Country</th>
                  <th>Filled by hand</th>
                  <th>Via central online system</th>
                  <th>Forms filled on computer</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <div class="table-responsive">
         <table class="table table-hover table-bordered compare openness_of_asset_declarations with-responsive-wrapper">
            <thead>
               <th class="table-title" colspan="5">Openness of asset declarations</th>
               <tr>
                  <th>Country</th>
                  <th>Published</th>
                  <th>Scans of filled forms</th>
                  <th>Copiable documents (word, pdf)</th>
                  <th>HTML format</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

   </div>
</div>
{% include footer.html %}
