{% include header.html %}
<div class="container">
   <div class="col-md-12">
      <h1 class="compare-title">Data Comparison between countries</h1>
      <!-- Table 1 -->
      <div class="table-responsive">
        <h3 class="table-sm-title">Scope of asset disclosure – type and rank of officials</h3>
         <table cellspacing="0" class="table responsive with-responsive-wrapper compare table-hover scope_asset_disclosure table-bordered ">
            <thead>
               <th class="table-title" colspan="9">Scope of asset disclosure – type and rank of officials</th>
               <tr>
                  <th>Country</th>
                  <th>Ministers, members<br /> of parliament</th>
                  <th>State and municipal<br /> higher management</th>
                  <th>Public service<br /> employees</th>
                  <th>Judges, Prosecutors.<br /> Court Directors</th>
                  <th>Managers of state <br />owned enterprises</th>
                  <th>Grant receivers</th>
                  <th>Relatives of <br />public officials</th>
                  <th>Other</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <!-- Table 2 -->
      <div class="table-responsive">
        <h3 class="table-sm-title">Content of asset declarations</h3>
         <table cellspacing="0" class="table responsive with-responsive-wrapper content_asset_declarations compare table-bordered table-hover">
            <thead>
               <th class="table-title" colspan="11">Content of asset declarations</th>
               <tr>
                  <th>Country</th>
                  <th>Income (from private<br/ > and public sources)</th>
                  <th>Real estate (buildings, <br/ >apartments, land and <br/ >agricultural property and other)</th>
                  <th>Movable property <br/ >(cars, boats and other)</th>
                  <th>Money (cash, bank accounts,<br/ > foreign currency,<br/ > credits, obligations)</th>
                  <th>Beneficial ownership (company management,<br/ > board members, shares,<br/ > stocks, gifts)</th>
                  <th>Management of NGOs</th>
                  <th>Membership in<br/ > organisations</th>
                  <th>Subsidies</th>
                  <th>Collectables <br/ >(such as art works)</th>
                  <th>Allowances and benefits<br/ > accruing to the official from the <br/ >political party or national assembly</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <!-- Table 3 -->
      <div class="table-responsive">
         <h3 class="table-sm-title">Public Access to asset declarations</h3>
         <table class="table responsive table-hover with-responsive-wrapper public_access_to_asset_declarations table-bordered compare">
            <thead>
               <th class="table-title" colspan="3">Public Access to asset declarations</th>
               <tr>
                  <th>Country</th>
                  <th>Availability of declarations<br /> to the public</th>
                  <th>Declarations <br />published online</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <!-- Table 4 -->
      <div class="table-responsive">
        <h3 class="table-sm-title">Bodies responsible for storing and managing asset declaration data</h3>
         <table class="table responsive with-responsive-wrapper table-hover table-bordered bodies_responsible_for_storing_and_managing_asset_declaration_data compare">
            <thead>
               <th class="table-title" colspan="3">Bodies responsible for storing and managing asset declaration data</th>
               <tr>
                  <th>Country</th>
                  <th>Separate agency entrusted<br /> with asset declaration<br /> data management</th>
                  <th>Political independence of <br />institutions in charge<br /> of asset declaration</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <!-- Table 5 -->
      <div class="table-responsive">
         <h3 class="table-sm-title">Verification and control of asset information</h3>
         <table cellspacing="0" class="table responsive with-responsive-wrapper table-hover table-bordered compare verification_and_control_of_asset_information">
            <thead>
               <th class="table-title" colspan="7">Verification and control of asset information</th>
               <tr>
                  <th>Country</th>
                  <th>Asset declarations verified</th>
                  <th>Random/Ad hoc<br /> verification</th>
                  <th>Verification based<br /> on published risk<br /> assessment methodology</th>
                  <th>Verification based<br /> on notifications about<br /> unjustified wealth</th>
                  <th>Verification in case<br /> of prosecution of <br />the given person</th>
                  <th>Regular publication<br /> of reports including<br /> verification results</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <!-- Table 6 -->
      <div class="table-responsive">
         <table cellspacing="0" class="table responsive with-responsive-wrapper table-hover table-bordered compare sanctions_for_non_declaration_and_incorrect_information">
            <h3 class="table-sm-title">Sanctions for non-declaration and incorrect information</h3>
            <thead>
               <th class="table-title" colspan="5">Sanctions for non-declaration and incorrect information</th>
               <tr>
                  <th>Country</th>
                  <th>Financial fines</th>
                  <th>Disciplinary<br/> measures</th>
                  <th>Criminal prosecution</th>
                  <th>Loss of mandate<br/> or public office</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <!-- Table 7 -->
      <div class="table-responsive">
         <table class="table responsive table-hover table-bordered timeline_for_storing_of_asset_declaration_information compare with-responsive-wrapper">
            <h3 class="table-sm-title">Timeline for storing of asset declaration information</h3>
            <thead>
               <th class="table-title" colspan="2">Timeline for storing of asset declaration information</th>
               <tr>
                  <th>Country</th>
                  <th>Timeline for <br />storing of asset <br />declaration information</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <!-- Table 8 -->
      <div class="table-responsive">
         <table class="table responsive table-hover table-bordered compare clarity_of_asset_disclosure_legislation with-responsive-wrapper">
            <h3 class="table-sm-title">Clarity of asset disclosure legislation</h3>
            <thead>
               <th class="table-title" colspan="3">Clarity of asset disclosure legislation</th>
               <tr>
                  <th>Country</th>
                  <th>Asset declarations<br/> framework regulated<br/> by separate law</th>
                  <th>Asset declaration<br/> framework split <br/>into multiple laws</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <!-- Table 9 -->
      <div class="table-responsive">
         <table class="table responsive table-hover table-bordered compare means_of_submission_of_asset_declarations with-responsive-wrapper">
            <h3 class="table-sm-title">Means of submission of asset declarations</h3>
            <thead>
               <th class="table-title" colspan="4">Means of submission of asset declarations</th>
               <tr>
                  <th>Country</th>
                  <th>Filled by hand</th>
                  <th>Via central<br /> online system</th>
                  <th>Forms filled<br /> on computer</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>

      <!-- Table 10 -->
      <div class="table-responsive">
         <table class="table responsive table-hover table-bordered compare openness_of_asset_declarations with-responsive-wrapper">
           <h3 class="table-sm-title">Openness of asset declarations</h3>
            <thead>
               <th class="table-title" colspan="5">Openness of asset declarations</th>
               <tr>
                  <th>Country</th>
                  <th>Published</th>
                  <th>Scans of <br />filled forms</th>
                  <th>Copiable documents<br /> (word, pdf)</th>
                  <th>HTML format</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>
   </div>
</div>
{% include footer.html %}
