{% include header.html %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-10 col-md-push-3 col-xs-push-1 post-md" >
            <div >
            <p class="p-title resource-title">PROJECT RESOURCES</p>
            </div>
            {% for post in site.posts %}
            <div class="resource-post"> 
                <div class="post-title"> 
                    <a target="_blank" href="{{ site.baseurl }}{{ post.file-path }}"> <p> {{ post.title }} </p></a> 
                </div>
                <div> <b> Publisher</b>: {{ post.publisher }} </div>
                <div> <b> Published on</b>: {{ post.published-on }} </div>
                <div class="description">  <b> Description</b>: 
                    <span class="post-excerpt"> {{ post.excerpt | strip_html | truncate: 300 }} </span> 
                    <span class="post-content h-text"> {{ post.content  | remove: '<p>' | remove: '</p>'}}  </span> 
                    <span><a href="" class="more-link less">READ MORE</a></span>
                    <div class="post-download"> 
                        <a target="_blank" href="{{ site.baseurl }}{{ post.summary-path }}"> DOWNLOAD </a>
                    </div>
                </div>
            <hr>
            </div>
            {% endfor %}   
    </div>
</div>
</div>
{% include footer.html %}
